.header {
  margin: 20px 0;
  .wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
    .header__right,
    .header__left {
      position: relative;
      display: flex;
      align-items: center;
    }
    .header__title {
      text-transform: uppercase;
      font-weight: bold;
      color: rgb(250, 250, 250);
      margin-left: 10px;
    }
    img {
      height: 100%;
    }
    input {
      background: rgba(250, 250, 250, 0.8);
      border: none;
      border-radius: 5px;
      max-width: 170px;
      padding-right: 20px;
      padding-left: 10px;
    }
    input:focus {
      outline: none;
    }
    button {
      position: absolute;
      background: none;
      border: none;
      right: 0;
    }
  }
}
