html {
  min-width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.btn-primary {
  background: #3772c5 !important;
  border: none;
}

.btn-light {
  background: rgba(255, 255, 255, 0.8);
  border: none;
}
